#headline{
  font-size: 3em;
  font-weight: 700:bold;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#byline{
font-size: 1em;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
text-align: center;

}

p{
  font-family: 'Georgia', serif;
  line-height: 100%;
  font-size: 1em;
}

#subheader{
  font-size: 2em;
  font-weight: 300:bold;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
