#title{
  font-family: Serif ;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  color: black;
}

#subheader{
  font-family: sans-serif;
  font-size: 40px;
  font-style: bold;
  color: black;

}

blockquote {
font: 24px normal helvetica, sans-serif;
font-style: italic;
margin-top: 15px;
margin-bottom: 15px;
color: purple;
margin-left: 50px;
padding-left: 15px;
border-left: 4px solid #ccc;
}

#content{
  margin: 0 auto;
  width: 900px;
}

p {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 12px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  }
 /* current settings for publicaiton header, image may need to adjust in future */
  #header {

    width: 900px;
    height: 130px;

  }

  #relatedlinks{
    font-family: sans-serif;
    font-size: 40px;
    font-style: bold;
    text-align:center;
  }

  #relatedlinkstwo{
    font-family: sans-serif;
    font-size: 20px;
    font-style: bold;
    text-align:center;
    color: black;
  }
  .menu{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align:center;
    list-style: none;
    display:inline;
  }

  ul#horizontal-list {
  	min-width: 696px;
  	list-style: none;
  	padding-top: 0px;
  	}

  ul#horizontal-list li {
  		display: inline;
  	}

  ul#vertical-list {
    min-width: 696px;
    list-style: none;
    padding-top: 0px;

  	}
    ul#vertical-list li {
        display: left;
      }
  .boxed {
        border: 5px dotted black ;
        color: gray;
      }
  .boxedone {
        border: 5px solid purple ;
      }

  .boxedtwo {
            border: 5px solid purple ;
          }
